@font-face {
  font-family: 'Geometria';
  src: url("../fonts/Geometria-Thin.eot");
  src: local("Geometria Thin"), local("Geometria-Thin"), url("../fonts/Geometria-Thin.eot?#iefix") format("embedded-opentype"), url("../fonts/Geometria-Thin.woff") format("woff"), url("../fonts/Geometria-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'Geometria';
  src: url("../fonts/Geometria-MediumItalic.eot");
  src: local("Geometria MediumItalic"), local("Geometria-MediumItalic"), url("../fonts/Geometria-MediumItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Geometria-MediumItalic.woff") format("woff"), url("../fonts/Geometria-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
  font-display: swap; }
@font-face {
  font-family: 'Geometria';
  src: url("../fonts/Geometria-Italic.eot");
  src: local("Geometria Italic"), local("Geometria-Italic"), url("../fonts/Geometria-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/Geometria-Italic.woff") format("woff"), url("../fonts/Geometria-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
  font-display: swap; }
@font-face {
  font-family: 'Geometria';
  src: url("../fonts/Geometria-Heavy.eot");
  src: local("Geometria Heavy"), local("Geometria-Heavy"), url("../fonts/Geometria-Heavy.eot?#iefix") format("embedded-opentype"), url("../fonts/Geometria-Heavy.woff") format("woff"), url("../fonts/Geometria-Heavy.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'Geometria';
  src: url("../fonts/Geometria-ExtraBoldItalic.eot");
  src: local("Geometria ExtraBoldItalic"), local("Geometria-ExtraBoldItalic"), url("../fonts/Geometria-ExtraBoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Geometria-ExtraBoldItalic.woff") format("woff"), url("../fonts/Geometria-ExtraBoldItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
  font-display: swap; }
@font-face {
  font-family: 'Geometria';
  src: url("../fonts/Geometria-Medium.eot");
  src: local("Geometria Medium"), local("Geometria-Medium"), url("../fonts/Geometria-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Geometria-Medium.woff") format("woff"), url("../fonts/Geometria-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'Geometria';
  src: url("../fonts/Geometria-BoldItalic.eot");
  src: local("Geometria BoldItalic"), local("Geometria-BoldItalic"), url("../fonts/Geometria-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Geometria-BoldItalic.woff") format("woff"), url("../fonts/Geometria-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
  font-display: swap; }
@font-face {
  font-family: 'Geometria';
  src: url("../fonts/Geometria-LightItalic.eot");
  src: local("Geometria LightItalic"), local("Geometria-LightItalic"), url("../fonts/Geometria-LightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Geometria-LightItalic.woff") format("woff"), url("../fonts/Geometria-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
  font-display: swap; }
@font-face {
  font-family: 'Geometria';
  src: url("../fonts/Geometria-HeavyItalic.eot");
  src: local("Geometria HeavyItalic"), local("Geometria-HeavyItalic"), url("../fonts/Geometria-HeavyItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Geometria-HeavyItalic.woff") format("woff"), url("../fonts/Geometria-HeavyItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
  font-display: swap; }
@font-face {
  font-family: 'Geometria';
  src: url("../fonts/Geometria.eot");
  src: local("Geometria"), url("../fonts/Geometria.eot?#iefix") format("embedded-opentype"), url("../fonts/Geometria.woff") format("woff"), url("../fonts/Geometria.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'Geometria';
  src: url("../fonts/Geometria-Bold.eot");
  src: local("Geometria Bold"), local("Geometria-Bold"), url("../fonts/Geometria-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Geometria-Bold.woff") format("woff"), url("../fonts/Geometria-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'Geometria';
  src: url("../fonts/Geometria-ExtraBold.eot");
  src: local("Geometria ExtraBold"), local("Geometria-ExtraBold"), url("../fonts/Geometria-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Geometria-ExtraBold.woff") format("woff"), url("../fonts/Geometria-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'Geometria';
  src: url("../fonts/Geometria-ThinItalic.eot");
  src: local("Geometria ThinItalic"), local("Geometria-ThinItalic"), url("../fonts/Geometria-ThinItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Geometria-ThinItalic.woff") format("woff"), url("../fonts/Geometria-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
  font-display: swap; }
@font-face {
  font-family: 'Geometria';
  src: url("../fonts/Geometria-ExtraLightItalic.eot");
  src: local("Geometria ExtraLightItalic"), local("Geometria-ExtraLightItalic"), url("../fonts/Geometria-ExtraLightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Geometria-ExtraLightItalic.woff") format("woff"), url("../fonts/Geometria-ExtraLightItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
  font-display: swap; }
@font-face {
  font-family: 'Geometria';
  src: url("../fonts/Geometria-Light.eot");
  src: local("Geometria Light"), local("Geometria-Light"), url("../fonts/Geometria-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Geometria-Light.woff") format("woff"), url("../fonts/Geometria-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'Geometria';
  src: url("../fonts/Geometria-ExtraLight.eot");
  src: local("Geometria ExtraLight"), local("Geometria-ExtraLight"), url("../fonts/Geometria-ExtraLight.eot?#iefix") format("embedded-opentype"), url("../fonts/Geometria-ExtraLight.woff") format("woff"), url("../fonts/Geometria-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
  font-display: swap; }
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden],
template {
  display: none; }

a {
  background-color: transparent; }

a:active {
  outline: 0; }
a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"],
.btn,
.button {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
  font-size: 14px; }

*,
*::before,
*::after,
input[type="search"] {
  box-sizing: inherit; }

body {
  font-size: 1rem;
  font-family: "Geometria", Helvetica, sans-serif;
  line-height: 1.5;
  padding: 0;
  margin: 0;
  position: relative;
  min-width: 320px;
  box-sizing: border-box; }

body,
html {
  height: 100%; }

blockquote,
dd,
dl,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
pre {
  margin: 0; }

button {
  background: transparent;
  border: 0;
  padding: 0; }

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

iframe {
  border: 0; }

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0; }

nav ul, li {
  list-style: none; }

img {
  max-width: 100%; }

[tabindex="-1"]:focus, *[tabindex], .btn, button, button:focus, .btn:focus, input, select, textarea {
  outline: none !important; }

a,
area,
button,
input,
label,
select,
textarea,
[tabindex] {
  -ms-touch-action: manipulation;
  touch-action: manipulation; }

.container {
  position: relative;
  margin: 0 auto;
  width: 1170px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%; }

a, button, .btn {
  transition: all 0.4s 0.02s ease; }

textarea {
  resize: none; }

#top {
  position: relative;
  border-bottom: 1px solid #F2F2F2;
  height: 50px; }
  #top .socials {
    position: absolute;
    left: 0;
    top: 13px; }
    #top .socials ul {
      display: flex;
      flex-wrap: nowrap;
      align-items: center; }
      #top .socials ul li {
        margin-right: 25px; }
      #top .socials ul img {
        transition: all 0.4s 0.02s ease; }
        #top .socials ul img:hover {
          opacity: 0.6; }
  #top .right-side {
    position: absolute;
    right: 0;
    display: flex;
    flex-wrap: nowrap;
    align-items: center; }
  #top .mail {
    border-left: 1px solid #F2F2F2;
    border-right: 1px solid #F2F2F2;
    width: 210px;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px; }
    #top .mail a {
      font-size: 14px;
      text-decoration: none;
      font-weight: 500;
      color: #26304B;
      background: url("../images/icons/icon-mail.svg") left center no-repeat;
      padding-left: 27px;
      -webkit-background-size: 12px;
      background-size: 17px 12px; }
    #top .mail:hover {
      text-decoration: underline; }
  #top .city {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 150px;
    border-right: 1px solid #F2F2F2; }
    #top .city a {
      font-size: 14px;
      text-decoration: none;
      font-weight: 500;
      color: #26304B;
      background: url("../images/icons/icon-city.svg") left center no-repeat;
      padding-left: 27px;
      background-size: 14px 20px;
      padding: 15px 30px; }
      #top .city a:hover {
        text-decoration: underline; }
  #top .phone {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left: 30px; }
    #top .phone a {
      font-size: 14px;
      text-decoration: none;
      font-weight: 500;
      color: #26304B;
      background: url("../images/icons/icon-phone.svg") left center no-repeat;
      padding-left: 27px;
      background-size: 18px;
      padding: 15px 30px;
      padding-right: 0; }
      #top .phone a:hover {
        text-decoration: underline; }

#sub-top {
  height: 90px; }
  #sub-top .logo {
    position: absolute;
    top: 10px; }
  #sub-top nav {
    position: absolute;
    right: 80px;
    margin-top: 20px; }
    #sub-top nav > ul {
      display: flex;
      flex-wrap: nowrap; }
      #sub-top nav > ul > li {
        padding-right: 40px;
        position: relative; }
        #sub-top nav > ul > li.deeper {
          padding-bottom: 20px; }
        #sub-top nav > ul > li.deeper::after {
          content: '';
          display: inline-block;
          width: 10px;
          height: 10px;
          transition: all 0.4s;
          background: url("../images/icons/icon-menu-arrow.svg") center no-repeat; }
        #sub-top nav > ul > li:last-of-type {
          padding-right: 0; }
        #sub-top nav > ul > li > ul {
          position: absolute;
          top: 30px;
          width: 200px;
          text-align: left;
          padding: 20px;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
          z-index: 99;
          background-color: #26304B;
          border-radius: 8px;
          visibility: hidden;
          opacity: 0; }
          #sub-top nav > ul > li > ul li {
            margin-bottom: 5px; }
          #sub-top nav > ul > li > ul a {
            color: #fff; }
        #sub-top nav > ul > li.deeper:hover a + ul {
          visibility: visible;
          opacity: 1; }
      #sub-top nav > ul a {
        font-size: 16px;
        font-weight: 400;
        text-decoration: none;
        color: #26304B; }
        #sub-top nav > ul a:hover {
          text-decoration: underline; }
  #sub-top .search {
    position: absolute;
    right: 0;
    top: 22px; }

#main-services h2 {
  text-align: center;
  color: #26304B;
  font-weight: 800;
  font-size: 30px;
  margin-bottom: 20px; }
  #main-services h2 span {
    color: #00A993; }
  #main-services h2::before {
    content: '';
    background: url("../images/icons/blue-paw.svg") center no-repeat;
    display: block;
    background-size: 100%;
    margin: 0 auto;
    width: 25px;
    height: 20px;
    margin-bottom: 7px; }
#main-services p {
  text-align: center; }
#main-services .in-services {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px 30px;
  margin-top: 50px; }
  #main-services .in-services .in-service {
    position: relative;
    overflow: hidden;
    border: 1px solid #F2F2F2;
    border-radius: 10px; }
    #main-services .in-services .in-service img {
      width: 100%;
      height: auto;
      position: relative;
      transition: all 0.4s 0.02s ease;
      opacity: 1;
      height: 100%; }
      #main-services .in-services .in-service img:hover {
        opacity: 0.7; }
    #main-services .in-services .in-service h3 {
      text-transform: uppercase;
      font-weight: 800;
      font-size: 20px;
      position: absolute;
      top: 30px;
      left: 30px; }
    #main-services .in-services .in-service .readmore {
      font-weight: 700;
      font-size: 14px;
      color: white;
      font-weight: bold;
      position: absolute;
      bottom: 30px;
      left: 30px;
      text-decoration: none;
      background: url("../images/icons/white-arrow.svg") right center no-repeat;
      background-size: 20px;
      padding-right: 30px;
      text-shadow: 0px 1px 2px #DBB062; }

#service-1 h3, #service-5 h3 {
  color: #00A993; }

#service-2 h3, #service-6 h3 {
  color: #0078B2; }

#service-3 h3, #service-4 h3 {
  color: #B68E46; }

#about-main {
  background-color: #00A993;
  margin-top: 100px; }
  #about-main .container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between; }
    #about-main .container .left-side {
      width: 568px; }
    #about-main .container .right-side {
      width: 568px; }
      #about-main .container .right-side h2 {
        color: #fff;
        padding-top: 30px;
        padding-bottom: 25px;
        font-size: 30px; }
        #about-main .container .right-side h2 span {
          color: #007161; }
      #about-main .container .right-side p {
        color: #fff;
        font-size: 14px;
        line-height: 20px; }

.about-icons {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-top: 30px;
  border-bottom: 1px solid #00BAA2;
  padding-bottom: 45px; }
  .about-icons li {
    text-align: center;
    font-size: 16px; }

.about-list {
  margin-top: 20px; }
  .about-list li {
    color: #fff;
    background: url("../images/icons/icon-paw.svg") left center no-repeat;
    font-size: 16px;
    margin-bottom: 20px;
    padding-left: 40px; }

#main-advantages {
  padding-top: 70px;
  padding-bottom: 70px;
  background-color: #0078B2; }
  #main-advantages h2 {
    font-weight: 800;
    font-size: 30px;
    color: #fff;
    padding-bottom: 20px; }
    #main-advantages h2 span {
      color: #FEDA99; }
  #main-advantages p {
    color: #fff;
    font-size: 18px; }
  #main-advantages .in-advantages {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 30px; }
    #main-advantages .in-advantages .advantage {
      background-color: #fff;
      width: 32%;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      ovewflow: hidden;
      border-radius: 10px;
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-between;
      align-items: center;
      padding-left: 25px;
      padding-right: 25px;
      min-height: 116px;
      margin-bottom: 20px; }
      #main-advantages .in-advantages .advantage p {
        color: #0078B2;
        line-height: 22px;
        font-size: 16px;
        margin-left: 20px; }

#main-doctors {
  padding-top: 100px; }
  #main-doctors .in-doctors {
    margin-right: -30px; }
  #main-doctors h2 {
    font-weight: 800;
    color: #26304B;
    font-size: 30px;
    padding-bottom: 10px; }
    #main-doctors h2 span {
      color: #00A993; }
  #main-doctors p {
    font-weight: 400;
    font-size: 14px;
    color: #9E9E9E;
    margin-bottom: 30px; }
  #main-doctors .doctor {
    margin-right: 30px; }

.doctor > a {
  text-decoration: none;
  display: block;
  padding: 10px;
  border: 1px solid #F2F2F2;
  border-radius: 10px;
  padding-bottom: 0; }
  .doctor > a img {
    border-radius: 10px 10px 0 0; }
    .doctor > a img:hover {
      opacity: 0.7; }
.doctor h3 {
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  color: #26304B;
  margin-top: 17px;
  margin-bottom: 15px; }
.doctor .status {
  display: block;
  text-align: center;
  color: #9E9E9E; }
.doctor span {
  display: flex;
  text-align: center;
  color: #0078B2;
  justify-content: center;
  font-size: 14px;
  font-weight: 500;
  align-items: center;
  padding-top: 17px;
  padding-bottom: 17px;
  border-top: 1px solid #F2F2F2;
  margin-top: 20px; }
  .doctor span::after {
    content: '';
    display: block;
    width: 20px;
    height: 10px;
    background: url("../images/icons/blue-arrow.svg") right center no-repeat;
    background-size: 100%;
    margin-left: 10px; }

.titlex {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center; }
  .titlex .titlex-btns {
    display: flex;
    flex-wrap: nowrap; }
    .titlex .titlex-btns > button {
      display: flex;
      width: 50px;
      height: 50px;
      border: 1px solid #E4E4E4;
      border-radius: 10px;
      align-items: center;
      justify-content: center; }
      .titlex .titlex-btns > button svg {
        fill: #9E9E9E;
        transition: all 0.4 0.02s ease; }
      .titlex .titlex-btns > button:hover {
        background-color: #0078B2;
        border-color: #0078B2; }
        .titlex .titlex-btns > button:hover svg {
          fill: #fff; }
    .titlex .titlex-btns .left-btn {
      margin-right: 40px; }
    .titlex .titlex-btns .right-btn {
      transform: rotate(180deg); }

#main-partners {
  margin-top: 130px; }
  #main-partners .container {
    background-color: #00A993;
    padding-top: 70px;
    padding-bottom: 70px;
    border-radius: 10px;
    padding-left: 35px;
    padding-right: 35px; }
    #main-partners .container h2 {
      font-size: 30px;
      font-weight: 800;
      color: #007161;
      text-align: center;
      margin-top: 0; }
      #main-partners .container h2 span {
        color: #fff; }
      #main-partners .container h2::before {
        content: '';
        background: url("../images/icons/yellow-paw.svg") center no-repeat;
        display: block;
        background-size: 100%;
        margin: 0 auto;
        width: 25px;
        height: 20px;
        margin-bottom: 7px; }
    #main-partners .container p {
      text-align: center;
      color: #A7E5DD;
      font-size: 16px; }
    #main-partners .container .in-partners {
      margin-top: 35px;
      padding-bottom: 70px; }
      #main-partners .container .in-partners .slick-dots {
        justify-content: center;
        left: 0;
        right: 0;
        bottom: 0;
        text-align: center; }
  #main-partners .partner {
    margin-right: 20px; }
    #main-partners .partner img:hover {
      opacity: 0.6; }

#main-gallery {
  padding-top: 100px; }
  #main-gallery h2 {
    font-size: 30px;
    font-weight: 800;
    color: #0078B2; }
    #main-gallery h2 span {
      color: #00A993; }
  #main-gallery p {
    color: #9E9E9E;
    font-size: 18px;
    margin-bottom: 30px; }
  #main-gallery .photo {
    margin-right: 30px; }
    #main-gallery .photo img:hover {
      opacity: 0.6; }
  #main-gallery .slick-dots {
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    justify-content: center; }
    #main-gallery .slick-dots li button::after {
      background-color: #E4E4E4; }
    #main-gallery .slick-dots li.slick-active button, #main-gallery .slick-dots li button:hover {
      border-color: #0078B2; }
      #main-gallery .slick-dots li.slick-active button::after, #main-gallery .slick-dots li button:hover::after {
        background-color: #0078B2; }
  #main-gallery .in-photos {
    padding-bottom: 60px;
    margin-right: -30px; }

#seo-text {
  background-color: #F9F9F9;
  margin-top: 100px; }
  #seo-text .container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between; }
    #seo-text .container h2 {
      color: #0078B2;
      margin-top: 70px;
      font-size: 30px;
      font-weight: 800; }
      #seo-text .container h2 span {
        color: #00A993; }
    #seo-text .container p {
      font-size: 14px;
      color: #0078B2;
      width: 570px; }
  #seo-text .left-side {
    width: 700px; }
  #seo-text img {
    width: 668px;
    height: auto; }

footer {
  background-color: #26304B;
  height: 500px; }

#sub-logo {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  position: absolute;
  top: 150px;
  width: 270px;
  border-bottom: 1px solid #323E60;
  padding-bottom: 25px; }

#bottom-socials {
  display: flex;
  flex-wrap: nowrap;
  position: absolute;
  top: 338px;
  align-items: center; }
  #bottom-socials li {
    margin-right: 25px; }
    #bottom-socials li a:hover {
      opacity: 0.5; }

#bottom-logo {
  position: absolute;
  top: 70px; }

#filialz {
  display: flex;
  flex-wrap: nowrap;
  position: absolute;
  right: 0;
  top: 70px; }

.filial {
  width: 270px;
  margin-right: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  padding-bottom: 15px; }
  .filial:last-of-type {
    margin-right: 0; }
  .filial h4 {
    font-size: 16px;
    color: #fff;
    font-weight: 700;
    text-align: center;
    padding-top: 17px;
    padding-bottom: 20px; }
  .filial .phone {
    font-weight: 700;
    font-size: 14px;
    padding-left: 25px;
    background: url("../images/icons/icon-phone-2.svg") left 4px no-repeat;
    margin-bottom: 12px; }
    .filial .phone a {
      text-decoration: none;
      color: #26304B; }
      .filial .phone a:hover {
        text-decoration: underline; }
  .filial .messenger {
    padding-left: 15px; }
    .filial .messenger a {
      margin-right: 10px; }
      .filial .messenger a:hover {
        opacity: 0.7; }

.addr {
  color: #26304B;
  font-size: 13px;
  font-weight: 500;
  background: url("../images/icons/icon-locate.svg") left center no-repeat;
  -webkit-background-size: 15px;
  background-size: 15px;
  padding-left: 25px;
  line-height: 18px;
  margin-bottom: 20px; }

.metro {
  color: #26304B;
  font-size: 14px;
  font-weight: 500;
  background-size: 15px;
  padding-left: 25px;
  margin-bottom: 20px; }

.in-filial {
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 20px; }

#filial-1 h4 {
  background-color: #D14A43; }

#filial-1 .metro {
  color: #D14A43;
  background: url("../images/icons/icon-metro-1.svg") left center no-repeat; }

#filial-2 h4 {
  background-color: #5CA9AD; }

#filial-3 h4 {
  background-color: #0172BA; }

#filial-2 .metro {
  color: #0172BA;
  background: url("../images/icons/icon-metro-2.svg") left center no-repeat; }

#filial-3 .metro {
  color: #0172BA;
  background: url("../images/icons/icon-metro-3.svg") left center no-repeat; }

.time {
  color: #26304B;
  font-size: 14px;
  font-weight: 500;
  background: url("../images/icons/icon-time.svg") left center no-repeat;
  -webkit-background-size: 15px;
  background-size: 15px;
  padding-left: 25px;
  line-height: 18px;
  margin-bottom: 20px; }

#debugger {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  color: #9E9E9E;
  height: 73px;
  border-top: 1px solid #323E60; }

#copy {
  position: absolute;
  top: 23px;
  left: 0; }

#studio {
  position: absolute;
  right: 0;
  top: 23px; }
  #studio a {
    color: #00A993;
    text-decoration: none; }
    #studio a:hover {
      text-decoration: underline; }

#slider {
  margin-bottom: 100px; }
  #slider .slide {
    position: relative; }
  #slider .slide-content {
    position: absolute;
    left: 70px;
    top: 80px;
    width: 460px; }
    #slider .slide-content h2 {
      color: #fff;
      font-size: 36px;
      font-weight: 500;
      line-height: 40px;
      margin-bottom: 25px; }
      #slider .slide-content h2 strong {
        font-weight: 700; }
    #slider .slide-content p {
      font-size: 16px;
      font-weight: 500;
      color: #fff; }
    #slider .slide-content a {
      font-weight: 700;
      font-size: 14px;
      text-align: center;
      text-decoration: none;
      display: inline-flex;
      padding-top: 18px;
      padding-bottom: 18px;
      padding-left: 30px;
      padding-right: 30px;
      align-items: center;
      justify-content: center;
      color: #fff;
      border-radius: 10px;
      margin-top: 30px; }
      #slider .slide-content a::after {
        content: '';
        background-size: 100%;
        background-position: center;
        background-repeat: no-repeat;
        display: inline-block;
        width: 20px;
        height: 16px;
        margin-left: 10px; }
  #slider .top-block {
    border-radius: 10px;
    background-color: #FEDA99;
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    display: inline-block;
    padding-top: 9px;
    padding-bottom: 11px;
    padding-left: 25px;
    padding-right: 25px;
    line-height: 30px;
    margin-bottom: 20px; }
  #slider .slide-1 .slide-content a, #slider .slide-3 .slide-content a {
    background-color: #0078B2; }
    #slider .slide-1 .slide-content a::after, #slider .slide-3 .slide-content a::after {
      background-image: url("../images/icons/white-paw.svg"); }
  #slider .slide-2 .slide-content a, #slider .slide-4 .slide-content a {
    background-color: #fff;
    color: #0078B2; }
    #slider .slide-2 .slide-content a::after, #slider .slide-4 .slide-content a::after {
      background-image: url("../images/icons/blue-paw.svg"); }

.slick-dots {
  position: absolute;
  bottom: 30px;
  left: 70px;
  display: flex;
  flex-wrap: nowrap; }
  .slick-dots li {
    margin-right: 7px; }
    .slick-dots li button {
      display: block;
      width: 25px;
      height: 25px;
      border-radius: 50%;
      background-color: transparent;
      overflow: hidden;
      text-indent: -99999px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      border: 1px solid transparent;
      position: relative; }
      .slick-dots li button::after {
        content: '';
        position: absolute;
        display: block;
        width: 7px;
        height: 7px;
        border-radius: 50%;
        left: 8px;
        top: 8px;
        background-color: #007161;
        transition: all 0.3s 0.02s ease; }
    .slick-dots li:hover button, .slick-dots li.slick-active button {
      border-color: #FEDA99; }
      .slick-dots li:hover button::after, .slick-dots li.slick-active button::after {
        background-color: #FEDA99; }

.center {
  text-align: center; }

section .center {
  width: 820px;
  margin: 0 auto;
  border-left: 1px solid #E4E4E4;
  border-right: 1px solid #E4E4E4;
  border-bottom: 1px solid #E4E4E4;
  height: 80px; }
  section .center a {
    font-size: 14px;
    color: #0078B2;
    font-weight: 500;
    border: 1px solid #E4E4E4;
    border-radius: 10px;
    text-decoration: none;
    display: inline-flex;
    padding-top: 22px;
    padding-bottom: 25px;
    padding-left: 30px;
    padding-right: 30px;
    align-items: center;
    background-color: #fff;
    position: relative;
    top: 45px; }
    section .center a::after {
      content: '';
      background: url("../images/icons/blue-arrow.svg") center no-repeat;
      width: 25px;
      height: 7px;
      margin-left: 20px; }

#right-icons {
  position: fixed;
  right: 0;
  top: 30%; }
  #right-icons ul {
    display: flex;
    flex-direction: column; }
  #right-icons .mail i {
    background-image: url("../images/icons/icon-mail-right.svg"); }
  #right-icons .cross i {
    background-image: url("../images/icons/icon-cross-right.svg"); }
  #right-icons .support i {
    background-image: url("../images/icons/icon-support-right.svg"); }
  #right-icons .locate i {
    background-image: url("../images/icons/icon-locate-right.svg"); }
  #right-icons i {
    height: 70px;
    width: 70px;
    background-color: #0078B2;
    background-repeat: no-repeat;
    background-position: center;
    transition: all 0.4s 0.02s ease; }
  #right-icons .mail {
    border-radius: 8px 0 0;
    overflow: hidden; }
  #right-icons .locate {
    border-radius: 0 0 0 8px;
    overflow: hidden; }
  #right-icons button {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0; }
    #right-icons button div {
      overflow: hidden;
      width: 0;
      transition: all 0.4s 0.02s ease;
      background-color: #0078B2; }
    #right-icons button span {
      overflow: hidden;
      width: 240px;
      color: #fff;
      font-size: 18px;
      font-weight: 500;
      display: block;
      text-align: center;
      align-self: center;
      padding-top: 22px;
      padding-bottom: 21px; }
    #right-icons button:hover div {
      width: 240px;
      border-radius: 5px 0 0 5px;
      background-color: #006DA1; }
      #right-icons button:hover div + i {
        background-color: #006DA1; }

.former {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(38, 48, 75, 0.85);
  display: none;
  align-items: center;
  justify-content: center;
  opacity: 0; }
  .former .container {
    width: 570px;
    background-color: #fff;
    border-radius: 10px;
    padding-left: 50px;
    padding-right: 50px;
    height: auto;
    padding-bottom: 35px; }
    .former .container h2 {
      font-weight: 700;
      color: #26304B;
      font-size: 30px;
      padding-top: 35px;
      margin-bottom: 25px; }
    .former .container .closer {
      position: absolute;
      right: 15px;
      top: 15px;
      background: url("../images/icons/closer.svg") center no-repeat;
      display: block;
      cursor: pointer;
      width: 25px;
      height: 25px; }
    .former .container .field {
      margin-bottom: 20px; }
    .former .container label {
      font-size: 14px;
      font-weight: 500;
      display: inline-block;
      margin-bottom: 10px; }
    .former .container .required label::after {
      content: '*';
      color: #DF3229;
      margin-left: 3px;
      margin-top: -2px; }
    .former .container input[type="text"] {
      height: 60px;
      display: block;
      width: 100%;
      border: 1px solid #E4E4E4;
      border-radius: 10px;
      font-size: 14px;
      padding-left: 25px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box; }
    .former .container textarea {
      height: 180px;
      display: block;
      width: 100%;
      border: 1px solid #E4E4E4;
      border-radius: 10px;
      font-size: 14px;
      padding-left: 25px;
      padding-top: 22px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box; }
    .former .container select {
      height: 60px;
      display: block;
      border: 1px solid #E4E4E4;
      border-radius: 10px;
      font-size: 14px;
      padding-left: 25px;
      width: 100%;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box; }
    .former .container button {
      background-color: #0078B2;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 14px;
      font-weight: 700;
      color: #fff;
      width: 100%;
      height: 60px;
      border-radius: 10px; }
      .former .container button::after {
        content: '';
        background: url("../images/icons/white-paw.svg") center no-repeat;
        display: block;
        width: 20px;
        height: 16px;
        margin-left: 10px; }
  .former .sub-requied {
    font-size: 14px;
    font-weight: 400; }
    .former .sub-requied span {
      color: #DF3229; }

.doc-form {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  margin-bottom: 25px; }
  .doc-form .image {
    margin-right: 10px; }
  .doc-form .doc-meta {
    margin-top: -5px; }
  .doc-form h5 {
    font-size: 16px;
    font-weight: 500;
    color: #26304B;
    line-height: 25px; }
  .doc-form a {
    color: #0078B2;
    font-size: 16px;
    text-decoration: none;
    font-weight: 500; }
    .doc-form a:hover {
      text-decoration: underline; }

#about-main .left-side img, .doctor > a > img {
  width: 100%;
  height: 100%;
  transition: all 0.5s 0.02s ease; }

.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block;
    width: 100%;
    height: auto;
    transition: all 0.4s 0.02s ease; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden, #main-doctors .slick-arrow, #main-gallery .slick-arrow {
  display: none !important; }

/*# sourceMappingURL=style.css.map */
